@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap'); /* Imported from Google */

@font-face {
    font-family: 'JetBrains Mono';
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Regular.ttf' ); /* EI compatible */
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Regular.ttf') format( 'truetyle' );
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Bold.ttf'); 
    src: /* You would want to have all the main formats in each @font-face! */
        url( '../fonts/jetbrains-mono/JetBrainsMono-Bold.woff') 
        format( 'woff' ),
        url( '../fonts/jetbrains-mono/JetBrainsMono-Bold.ttf') 
        format( 'truetyle' ),
        url( '../fonts/jetbrains-mono/JetBrainsMono-Bold.svg') 
        format( 'svg' );
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Bold-Italic.ttf' ); 
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Bold-Italic.ttf') format( 'truetyle' );
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Italic.ttf' ); 
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Italic.ttf') format( 'truetyle' );
    font-weight: normal;
    font-style: italic;
}

* { /* Basic browser reset */
    box-sizing: border-box; /* Up to the border */
    margin: 0;
    padding: 0;
    font-size: 16px; /* Default font size */
}

code {
    white-space: pre;
    font-family: 'JetBrains Mono', Consolas, monospace;
}

body {
    background-image: url( '../img/paper-background.webp' ); /* Go  back one level */
    background-size: cover; /* Cover the whole element */
    background-repeat: no-repeat; /*Show one of the image, instead of unlimited titles. */
    background-attachment: fixed;
    /* background-position: top right; Can use x,y and even -numbers */
}

h1 {
    font-size: 32px;
    font-family: 'Odibee Sans', 'JetBrains Mono', monospace; 
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

h1, h2 {
    font-size: 32px;
    text-align: center;
    padding-top: 50px;
}

h2 {
    font-size: 32px;
    padding: 16px 0;
}

nav {
    width: auto;
    max-width: 500px;
    background-color: salmon;
    margin: 0 auto; /* 16px top and bottom. Left and Right auto */
    /* 16px auto 32px. This would be 16px top, left right auto, 32px bottom */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 2;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li {
    text-decoration: none; /* Disable underline */
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
    background-color: rgb( 50, 50, 50);
    color: #fff;               
}

article {
    width: auto;
    max-width: 600px;
    margin-left: auto; /* Margin left and right as auto will centre a BLOCK level element! */
    margin-right: auto;
    padding: 16px;
}

p {
    font-family: Arial, Helvetica, sans-serif; /* Finds the first font install on computer */
    font-size: 15px;
    line-height: 1.5;
    color: rgb( 33, 33, 33); /* There are a few ways to do color... */
    background-color: #eeeeee; /* Can also use hex */
}

#float-practice {
    float: left;
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
    /* margin: 0 16px 16x 0 */
}

#z-index-practice {
    display: block;
    position: absolute;
    top: 300px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1; /* Visual layering! Think Photoshop... which element should appear "on-top"?! */
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden; 
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.hide-me {
    list-style: none;
    height: 0;
}

.overflow-hidden { /* Playing with overflow */
    overflow: hidden;
    height: 35px;
}

.overflow-visible {
    overflow: visible;
    height: 35px;
}

.overflow-scroll {
    overflow: scroll;
    height: 75px;
}

#background-bullets, /* For readability */
#image-bullets {
    list-style: none; /* No bullets */
    margin: 16px auto;
    padding: 16px;
}

#background-bullets li {
    background-image: url( '../img/teeth-1670434_960_720.webp');
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: top left;
    padding: 8px 8px 8px 64px;
}

#image-bullets li{
    position: relative;
    padding: 8px 8px 8px 64px;
}

#image-bullets li img{
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
}

.gradient-bg { /* Gradient generated at https://CSSGradient.IO */
    height: 300px;
    opacity: 0.75;
    margin-top: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(33,31,67,1) 17%, rgba(51,50,86,1) 34%, rgba(122,121,157,1) 49%, rgba(199,199,235,1) 63%, rgba(111,205,244,1) 79%, rgba(72,207,248,1) 91%, rgba(0,212,255,1) 100%);
    box-shadow: 32px 32px 0 0 rgba( 0, 0, 0, 1 );
}

.speech-bubble { /* Make this relative to have position absolute be based on this */
    background: rgba ( 255, 255, 255, 0.95 );
    border-radius: 1.5em;
    border-bottom-right-radius: 0;
    max-width: 300px;
    padding: 1.5em;
    color: rgba ( 33, 33, 33, 1 );
    margin-top: 75px;
    position: relative;
}

.speech-bubble::after { /* DOUBLE colon is a PSEUDO ELEMENT. This is a fake element... keep in mind its content cannot be read by screen-reader or search engines --> ONLY use it for PURELY visual text with no omportance/meaning. */
    /* Pseudo-elements require the "content" property. */
    content: '';
    /* Start triangle. */
    display: block;
    width: 0;
    height: 0;
    box-sizing: content-box;
    border-top: 0 solid transparent;
    border-right: 32px solid rgba( 225, 225, 225, 0.95 );
    border-bottom: 32px solid transparent;
    border-left: 0 solid transparent;
    /* End triangle. */
    /* POsition it at the bottom right corner. */
    position: absolute;
    top: 100%;
    right: 0;
}

#social-media-links {
    list-style: none;
    text-align: center;
}

#social-media-links > li { /* ">" Direct child only will get hit. */
    display: inline-block;
    margin: 8px; /* Observe! Margin collapse - the largest, when interacting, wins! */
}

#social-media-links .fab {
    color: rgba( 50, 50, 50, 1) ; /* RGBA - the "a" stands for ALPHA channel. */
    /* For alpha: 1 = opaque; 0 = transparent. You can use values inbetween like "0.5" to mark is as semi-transparent. */
    font-size: 32px;
}

#social-media-links a:hover .fab, /* DON'T FORGET THE "," */
#social-media-links a:focus .fab,
#social-media-links a:active .fab { /* Psuedo-selector with nesting */
    color: rgba( 50, 50, 50, 0.5 );
}

@media screen and ( min-width: 500px ) {
    body {
        background: red;
    }

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }
}

@media screen and ( min-width: 1024px ) {
    body {
        background: green;
    }
    
    h1 {
        font-size: 64px;
    }
    
    h2 {
        font-size: 32px;
    }
    
    h3 {
        font-size: 28px;
    }
}