@font-face {
    font-family: 'JetBrains Mono';
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Regular.ttf' ); /* EI compatible */
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Regular.ttf') format( 'truetyle' );
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Bold.ttf' ); 
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Bold.ttf') format( 'truetyle' );
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Bold-Italic.ttf' ); 
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Bold-Italic.ttf') format( 'truetyle' );
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Italic.ttf' ); 
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Italic.ttf') format( 'truetyle' );
    font-weight: normal;
    font-style: italic;
}

* { /* Basic browser reset */
    box-sizing: border-box; /* Up to the border */
    margin: 0;
    padding: 0;
    font-size: 16px; /* Default font size */
}

code {
    white-space: pre;
    font-family: 'JetBrains Mono', Consolas, monospace;
}

body {
    background-image: url( '../img/space\ background.jpg' ); /* Go  back one level */
    background-size: cover; /* Cover the whole element */
    background-repeat: no-repeat; /*Show one of the image, instead of unlimited titles. */
    background-attachment: fixed;
    /* background-position: top right; Can use x,y and even -numbers */
}
h1, h2 {
    font-size: 50px;
    font-family: "Times New Roman", Georgia, serif; /* " " Means it's one font */
    text-align: center;
    padding-top: 50px;
}

h2 {
    font-size: 32px;
    padding: 16px 0;
}

nav {
    width: auto;
    max-width: 500px;
    background-color: salmon;
    margin: 0 auto; /* 16px top and bottom. Left and Right auto */
    /* 16px auto 32px. This would be 16px top, left right auto, 32px bottom */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 2;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li {
    text-decoration: none; /* Disable underline */
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
    background-color: rgb( 50, 50, 50);
    color: #fff;               
}

article {
    width: auto;
    max-width: 600px;
    margin-left: auto; /* Margin left and right as auto will centre a BLOCK level element! */
    margin-right: auto;
    padding: 16px;
}

p {
    font-family: Arial, Helvetica, sans-serif; /* Finds the first font install on computer */
    font-size: 15px;
    line-height: 1.5;
    color: rgb( 33, 33, 33); /* There are a few ways to do color... */
    background-color: #eeeeee; /* Can also use hex */
}

#float-practice {
    float: left;
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
    /* margin: 0 16px 16x 0 */
}

#z-index-practice {
    display: block;
    position: absolute;
    top: 300px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1; /* Visual layering! Think Photoshop... which element should appear "on-top"?! */
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden; 
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.hide-me {
    list-style: none;
    height: 0;
}

.overflow-hidden { /* Playing with overflow */
    overflow: hidden;
    height: 35px;
}

.overflow-visible {
    overflow: visible;
    height: 35px;
}

.overflow-scroll {
    overflow: scroll;
    height: 75px;
}

#background-bullets, /* For readability */
#image-bullets {
    list-style: none; /* No bullets */
    margin: 16px auto;
    padding: 16px;
}

#background-bullets li {
    background-image: url( '../img/teeth-1670434_960_720.webp');
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: top left;
    padding: 8px 8px 8px 64px;
}

#image-bullets li{
    position: relative;
    padding: 8px 8px 8px 64px;
}

#image-bullets li img{
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
}
